<!doctype html>
<html>
   <body>
      <form action="" method='POST' >
         <label for="fname">Search Term:</label><br>
         <input type="text" id="fname" name="fname"><br>
         <hr>
         <input type="radio" id="scraper" name="searchtype" value="scraper">
         <label for="scraper">Scraper</label><br>
         <input type="radio" id="api" name="searchtype" value="api">
         <label for="api">API</label><br>
         <hr>    
         <input type="checkbox" id="pageination" name="pageination" value="pageination">
         <label for="pageination"> pageination</label><br>
         <hr>
         <input type="submit" value="submit">
      </form>
   </body>
</html>

